services:
  # Our Redis Service for managing the message queues
  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"

  # Our FastAPI backend service
  client_api:
    container_name: client_api
    build:
      context: .
      dockerfile: ./client_api/Dockerfile.client_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis

  # Runs the front end in build mode
  # frontend:
  #   container_name: frontend
  #   build:
  #     context: .
  #     dockerfile: ./src/client/Dockerfile.client
  #   ports:
  #     - "5173:80"
  #   depends_on:
  #     - core_api


  gmail_worker_request_intake:
    container_name: gmail_worker_request_intake
    build:
      context: .
      dockerfile: ./shared_worker_library/Dockerfile.worker
    command: >
      celery -A shared_worker_library.worker.gmail_worker worker -Q gmail_initial_sync_queue -l info -E -n request_intake
    env_file:
      - .env
    depends_on:
      - redis

  gmail_worker_fetch_content:
    container_name: gmail_worker_fetch_content
    build:
      context: .
      dockerfile: ./shared_worker_library/Dockerfile.worker
    command: >
      celery -A shared_worker_library.worker.gmail_worker worker -Q gmail_fetch_content_queue -l info -E -n fetch_content
    env_file:
      - .env
    depends_on:
      - redis

  relevance_model_worker:
    container_name: relevance_model_worker
    build:
      context: .
      dockerfile: ./shared_worker_library/Dockerfile.worker
    command: >
      celery -A shared_worker_library.worker.relevance_model_worker worker -Q relevance_model_queue -l info -E -n relevance_model
    env_file:
      - .env
    depends_on:
      - redis

  classification_model_worker:
    container_name: classification_model_worker
    build:
      context: .
      dockerfile: ./shared_worker_library/Dockerfile.worker
    command: >
      celery -A shared_worker_library.worker.classification_model_worker worker -Q classification_model_queue -l info -E -n classification_model
    env_file:
      - .env
    depends_on:
      - redis

  # Flower monitoring tool for Celery
  flower:
    container_name: flower_monitor
    image: mher/flower:2.0.1
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    ports:
      - "5555:5555"
    depends_on:
      - redis
