services:
  # Our Redis Service for managing the message queues
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  # Our FastAPI backend service
  api:
    build:
      context: ./src/server
      dockerfile: DockerFile
    container_name: core_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./src/server:/app
    depends_on:
      - redis

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: ./src/client/DockerFile
    ports:
      - "5173:80"
    depends_on:
      - api