@import "tailwindcss";

/* Global styles for the application */

/* main container */
#root 
{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Base styles */
:root 
{
  /* Colors */
  --color-bg: #1E1C20;

  /* Blues */
  --color-blue-1: #192836; /* Dark Blue (Sidebar Background) */
  --color-blue-2: #053D57; /* Medium Dark Blue (Selected Button) */
  --color-blue-3: #006884; /* Medium Blue (Not Currently Used) */
  --color-blue-4: #97BCC7; /* Light Blue (Text/Icons on Button) */
  --color-blue-5: #F2F1EF; /* Very Light Blue (Main Text) */

  /* Other Colors */
  --color-light-purple: #351936; /* Used for Applied Section */ 
  --color-teal: #043947; /* Used for Interview Section */
  --color-dark-purple: #272136; /* Used for Offer Section */
  --color-blue-gray: #1E2F4D; /* Used for Accepted Section */
  --color-bright-red: #B3261E; /* alert/error */

  /* Fonts */
  --font-title: "Baskerville", serif;
  --font-headline: "Baskerville", serif;

  --font-subheading: "poppins", sans-serif;
  --font-body: "poppins", sans-serif;
  --font-caption: "poppins", sans-serif;

  /* Font Sizes */
  --fs-title: 40px;
  --fs-headline: 28px;
  --fs-subheading: 20px;
  --fs-body: 16px;
  --fs-caption: 14px;
}


/* Button styles */
.btn 
{
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--fs-subheading);
  font-weight: 500;
  font-family: var(--font-subheading);
  background-color: var(--color-blue-1);
  cursor: pointer;
  color: var(--color-blue-4);

  /* Smooth transition for border color on hover */
  transition: border-color 0.25s ease;
}

.btn:hover 
{
  border-color: var(--color-blue-4);
}

.btn.selected
{
  background-color: var(--color-blue-2);
  border-color: var(--color-blue-4);
}

/* light mode style */
@media (prefers-color-scheme: light) 
{
  /* Light mode styles */
}


/* page layout */
body 
{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/* headings */
h1 
{
  font-size: 3.2em;
  line-height: 1.1;
}

/* links */
a 
{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover 
{
  color: #535bf2;
}


/* utility classes */
.card 
{
  padding: 2em;
}

.read-the-docs 
{
  color: #888;
}


/* logo styles */
.logo 
{
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}