@import "tailwindcss";

/* Global styles for the application */

/* main container */
#root 
{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%; 
}

/* Font faces */
@font-face 
{
  font-family: "Baskerville";
  src: url("/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face 
{
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
:root 
{
  /* Colors */
  --color-bg: #1E1C20;

  /* Blues */
  --color-blue-1: #192836; /* Dark Blue (Sidebar Background) */
  --color-blue-2: #053D57; /* Medium Dark Blue (Selected Button) */
  --color-blue-3: #006884; /* Medium Blue (Not Currently Used) */
  --color-blue-4: #97BCC7; /* Light Blue (Text/Icons on Button) */
  --color-blue-5: #F2F1EF; /* Very Light Blue (Main Text) */

  /* Other Colors */
  --color-light-purple: #351936; /* Used for Applied Section */ 
  --color-teal: #043947; /* Used for Interview Section */
  --color-dark-purple: #272136; /* Used for Offer Section */
  --color-blue-gray: #1E2F4D; /* Used for Accepted Section */
  --color-bright-red: #B3261E; /* alert/error */

  /* Fonts */
  --font-title: "Baskerville", serif;
  --font-headline: "Baskerville", serif;

  --font-subheading: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;
  --font-caption: "Poppins", sans-serif;

  /* Font Sizes */
  --fs-title: 40px;
  --fs-headline: 28px;
  --fs-subheading: 20px;
  --fs-body: 16px;
  --fs-caption: 14px;
}

/* Typography */
/* Title and Headline */
h1, h2 
{
  font-family: var(--font-title);
}

h1 
{
  font-size: var(--fs-title);
}

h2
{
  font-size: var(--fs-headline);
}

/* All other text */
h3, h4, h5, h6, p, span, small, label, button, input, textarea, div 
{
  font-family: var(--font-body);
}

h3 
{
  font-size: var(--fs-subheading);
}

h4, h5, h6, p, span, label, button, input, textarea, div 
{
  font-size: var(--fs-body);
}

small 
{
  font-size: var(--fs-caption);
}


/* Button styles */
button
{
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--fs-subheading);
  font-weight: 500;
  font-family: var(--font-subheading);
  background-color: var(--color-blue-1);
  cursor: pointer;
  color: var(--color-blue-4);

  /* Smooth transition for border color on hover */
  transition: border-color 0.25s ease;
}

button:hover 
{
  border-color: var(--color-blue-4);
}

button.selected
{
  background-color: var(--color-blue-2);
  border-color: var(--color-blue-4);
}

/* light mode style */
@media (prefers-color-scheme: light) 
{
  /* Light mode styles */
}


/* page layout */
html, body 
{
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

/* Icons */

/* makes icons light blue */
button img 
{
  filter: brightness(0) saturate(100%) invert(81%) sepia(11%) saturate(464%) hue-rotate(170deg) brightness(95%) contrast(85%);
}